:root{
    --main-color: #fd611a;
    --color-font: rgba(255, 255, 255, 0.452);
}

footer{
    background-color: var(--main-color);
    display: grid;
    grid-template: repeat(2,minmax(10px, 1fr)) / repeat(2,minmax(10px, 1fr));
    grid-template-areas: 
        "d a"
        "c r"
    ;
    padding: 10px;
    color: white;

    
}
/* --------------------------------- */
.dataf{
    grid-area: d;
    margin: auto;
}
/* --------------------------------- */
.carrers{
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--color-font);
}

.carrers>a{
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    margin: 5px;
}

.carrers>a:active{
transform: translateY(4px) translateX(4px);
}
/* --------------------------------- */
.ayuda{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--color-font);
    padding: 10px;
}

.ayuda > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.ayuda > span{
    font-size: 12px;
}

.ayuda > a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px 5px 5px;
    text-align: center;
    padding: 5px;
    margin: 10px 5px;
}

.ayuda > a:active{
    transform: translateY(4px) translateX(4px);
    }

/* --------------------------------- */
.redes-soc{
    grid-area: r;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15%;
    border-top: 1px solid var(--color-font);
    border-left: 1px solid var(--color-font);
}

.redes-soc>a{
    margin: 10px;
    color: white;
    font-size: 30px;
}

.redes-soc>a:hover{
    transform: translate(5px,5px);
}

/* ------------------------------ */

@media only screen and (min-width:425px){
    .redes-soc{
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width:768px){
    footer{
        padding: 5% 10%;
    }
}

@media only screen and (min-width:768px){
    footer{
        padding: 2% 2%;
        grid-template: repeat(1,minmax(10px, 1fr))/repeat(4,minmax(10px, 1fr));
        grid-template-areas: "d c a r";

    }
    .carrers{
        border-left: 1px solid var(--color-font);
        border-top: 0;
        padding: 10%;
    }

    .ayuda{
        padding: 10%;
    }

    .redes-soc{
        border-top: 0px;
    }
}